# requirements.txt
# Versões alinhadas para garantir um build estável e compatível

streamlit
gunicorn

# Bibliotecas principais
pandas
numpy

# Firebase
firebase-admin

# Google Cloud Services
google-cloud-secret-manager

# LangChain e IA da Google (versões compatíveis)
langchain
langchain-core
langchain-community
langchain-google-genai
pydantic
faiss-cpu

# Processamento de PDF
PyMuPDF
Pillow
pypdf
